<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>SunshinePE</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="../util/layui-src/src/css/layui.css">

</head>
<body class="layui-layout-body"  >
    <div id="app">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <img class="layui-logo logo" src="static/logo.png" style="width: 318px;
            height: 50px;">
                <div class="layui-layout-left logo-name">课外阳光锻炼系统</div>
                <!-- 头部区域（可配合layui已有的水平导航） -->
                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item child-style"><a href="">退出</a></li>
                </ul>
            </div>

            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <div class="avatar">
                        <img src="http://www.doocr.com/modules/core/client/img/header/avatar-icon.svg" class="avatar-img" alt="">
                        <span class="title-style">王sad</span>
                    </div>
                    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                    <ul class="layui-nav layui-nav-tree "  lay-filter="test" v-for="item in sideLists" >
                        <li class="layui-nav-item" v-bind:class="{ 'layui-nav-itemed' : item.status }" v-on:click ="item.status=!item.status">
                            <a class="title-style" href="javascript:;">{{item.name}}</a>
                            <dl class="layui-nav-child child-style" v-for="list in item.lists">
                                <dd><a @click.stop="">{{list}}</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
<!--                <router-link to="/foo">Go to Foo</router-link>-->
<!--                <router-link to="/bar">Go to Bar</router-link>-->
            </div>

            <div class="layui-body">
                <!-- 内容主体区域 -->
                <div style="padding: 15px;">
                    <div class="main-content">
                        <span class="layui-badge-dot layui-bg-black" style="margin-bottom: 2px"></span>
                        <span class="title-content">日常得分标准设置:</span>
                     </div>
                    <form class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
                        <div class="layui-form-item">
                            <label class="layui-form-label">积分设置</label>
                            <div class="layui-input-block">
                                <input type="checkbox" lay-skin="switch">
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-left: 40px">
                            <label class="layui-form-label" style="text-align: left;font-size: 13px">积分上限：</label>
                            <div class="layui-input-inline" style="width: 80px">
                                <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input input-point" style="display: block">
                            </div>
                            <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                        <div class="layui-form-item" style="margin-left: 40px">
                            <label class="layui-form-label" style="text-align: left;font-size: 13px">积分及格线：</label>
                            <div class="layui-input-block" style="width: 80px">
                                <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">学分设置</label>
                            <div class="layui-input-block">
                                <input type="checkbox" checked lay-skin="switch">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                        <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
                    </form>
                    <div class="main-content">
                        <span class="layui-badge-dot layui-bg-black" style="margin-bottom: 2px"></span>
                        <span class="title-content">日常得分规则设置:</span>
                    </div>
                    <form class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
                        <div class="layui-form-item">
                            <label class="layui-form-label">输入框</label>
                            <div class="layui-input-block">
                                <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">下拉选择框</label>
                            <div class="layui-input-block">
                                <select name="interest" lay-filter="aihao">
                                    <option value="0">写作</option>
                                    <option value="1">阅读</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">复选框</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="like[write]" title="写作">
                                <input type="checkbox" name="like[read]" title="阅读">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">开关关</label>
                            <div class="layui-input-block">
                                <input type="checkbox" lay-skin="switch">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">开关开</label>
                            <div class="layui-input-block">
                                <input type="checkbox" checked lay-skin="switch">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">单选框</label>
                            <div class="layui-input-block">
                                <input type="radio" name="sex" value="0" title="男">
                                <input type="radio" name="sex" value="1" title="女" checked>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">请填写描述</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                        <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
                    </form>
                </div>
<!--                <router-view></router-view>-->
            </div>

            <div class="layui-footer">
                <!-- 底部固定区域 -->
                © layui.com - 底部固定区域
            </div>
        </div>
    </div>
    <script src="../util/layui-src/src/layui.js"></script>
    <script src="../util/vue.js"></script>
    <script src="../util/vue-router.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>

