<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>SunshinePE</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="../util/layui-src/src/css/layui.css">

</head>
<body class="layui-layout-body"  >
    <div id="app">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <img class="layui-logo logo" src="static/logo.png" style="width: 318px;
            height: 50px;">
                <div class="layui-layout-left logo-name">课外阳光锻炼系统</div>
                <!-- 头部区域（可配合layui已有的水平导航） -->
                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item"><a href="">退出</a></li>
                </ul>
            </div>

            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <div class="avatar">
                        <img src="http://www.doocr.com/modules/core/client/img/header/avatar-icon.svg" class="avatar-img" alt="">
                        <span>王sad</span>
                    </div>
                    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                    <ul class="layui-nav layui-nav-tree"  lay-filter="test" v-for="item in sideLists" >
                        <li class="layui-nav-item" v-bind:class="{ 'layui-nav-itemed' : item.status }" v-on:click ="item.status=!item.status">
                            <a class="" href="javascript:;">{{item.name}}</a>
                            <dl class="layui-nav-child" v-for="list in item.lists">
                                <dd><a @click.stop="">{{list}}</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
<!--                <router-link to="/foo">Go to Foo</router-link>-->
<!--                <router-link to="/bar">Go to Bar</router-link>-->
            </div>

            <div class="layui-body">
                <!-- 内容主体区域 -->
                <div style="padding: 15px;">业精于勤 我来混个contribution</div>
<!--                <router-view></router-view>-->
            </div>

            <div class="layui-footer">
                <!-- 底部固定区域 -->
                © layui.com - 底部固定区域
            </div>
        </div>
    </div>
    <script src="../util/layui-src/src/layui.js"></script>
    <script src="../util/vue.js"></script>
    <script src="../util/vue-router.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>

